__pycache__
*.pyc
*.egg-info
dist

# Other
.DS_Store
wandb
output
*.safetensors

checkpoints
ckpts*

.ipynb_checkpoints

*.ttf

local*
not_useful_for_now
*slurm*

example_data/videos/ego4d/*.mp4

results
